{{ id }}.title {
    font-family: "Museo Sans";
    font-size: 12px;
    font-weight: bold;
}

{{ id }}.legends .legend text {
    font-family: "Museo Sans";
    font-size: 12px;
}

{{ id }}.axis text {
    font-family: "Museo Sans";
    font-size: {{ font_sizes.label }};
}

{{ id }}.axis text.major {
    font-family: "Museo Sans";
    stroke: none;
    font-size: {{ font_sizes.major_label }};
}

{{ id }}.series text {
    font-family: "Museo Sans";
    font-size: {{ font_sizes.value }};
}

{{ id }}#tooltip text {
    font-family: "Museo Sans";
    font-size: {{ font_sizes.tooltip }};
}

{{ id }}.plot .series text{
    font-weight: bold;
    font-size: 10px;
}

.guide.line{
    display: none;
}

.major.line{
    opacity: 1;
    height: 4px;
    background-color: #333333
}