/* General */
body{
    font-family: 'Museo Sans';
    color: #333333;
    font-size: 13px;
}

a, .osper-colored{
    text-decoration: none;
    color: #E38B0A;
}

.top{
    margin-top: 0px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #A4A1A1;
    height: 2px;
}

#footer{
    color: #696464;
    font-size: 11px;
}

#footer a{
    color: #FAAC3C;
}





/* Report  + Osper infos */
#report-name{
    font-size: 18px;
}

#report-range{
    color: #B3B3B3;
}

#report-date{
    font-size: 16px;
    color: #F79402;
}

#osper-infos{
    text-align: center;
}

#osper-links{
    margin-top: -15px;
    font-size: 11px;
}





/* Table */
table#main-container{
    position: fixed;
    top: -3%;
}

td#top-purchases{
    padding-left: 15px;
}

td#call-to-action{
    padding-right: 10px;
    border-right: 2px solid #A4A1A1;
}

/* th, td{ */
/*     border: 1px solid red; */
/* } */

table th{
    vertical-align: middle;
    width: 300px;
}

table#top-purchases-table{
    max-width: 4%;
    font-size: 12px;
    border-spacing: 0;
}

#top-purchases-table th{
    width: auto;
    background-color: #404853;
    background: #FEA41F;
    color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 9px;
    padding-left: 9px;
    text-align: center;
}


#top-purchases-table td {
    padding: 8px;
}

.bordered-right{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#top-purchases-table td{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 9px;
    padding-left: 9px;
    border-left: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
    text-align: right;
}